In [ ]:
# %% [markdown]
# # Análise de Otimização por Algoritmo Genético

# %% [markdown]
# ## 1. Carregamento e Exploração Inicial dos Dados
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import ast
pd.set_option('display.max_column',100)

df=pd.read_csv("../results/phase1.csv")

df_simple_phase_1 = df[
    (df['selection'].isin(['roulette', 'ranking', 'tournament'])) &
    (df['crossover'].isin(['group_based', 'greedy_merge'])) &
    (df['mutation'].isin(['swap', 'one_point', 'multi_point']))].nlargest(10000, 'avg_fitness')

df_simple_phase_2=pd.read_csv("../results/simple_phase2.csv")
df_simple_phase_3=pd.read_csv("../results/simple_phase3.csv")
# df_simple_phase_4=pd.read_csv("../results/simple_phase4.csv")


df_advanced_phase_1 = df.nlargest(10000, 'avg_fitness')
df_advanced_phase_2= pd.read_csv("../results/advanced_phase2.csv")
 df_advanced_phase_3=pd.read_csv("../results/advanced_phase3.csv")
# df_advanced_phase_4=pd.read_csv("../results/advanced_phase4.csv")

In [105]:
df_advanced_phase_3=df_advanced_phase_3.sort_values(by="avg_fitness")
for i in ['selection','crossover','mutation','cx_rate','mut_rate','elitism_percent',"max_generations"]:
    print(df_advanced_phase_3[i].head(3).value_counts())

selection
boltzmann    3
Name: count, dtype: int64
crossover
partially       2
greedy_merge    1
Name: count, dtype: int64
mutation
one_point    3
Name: count, dtype: int64
cx_rate
0.3    2
0.4    1
Name: count, dtype: int64
mut_rate
0.8    2
0.9    1
Name: count, dtype: int64
elitism_percent
0.1    2
0.0    1
Name: count, dtype: int64
max_generations
45    1
38    1
41    1
Name: count, dtype: int64

In [108]:
df_advanced_phase_3.nlargest(10,"avg_fitness")

,pop_size,generations,selection,crossover,mutation,cx_rate,mut_rate,elitism_percent,runs,early_stop_gens,delta,avg_fitness,max_fitness,std_fitness,avg_generations,max_generations,std_generations,convergence_rate,avg_mutation_success_rate,avg_crossover_success_rate,avg_population_diversity,avg_fitness_progress,best_solution
63,250,100,boltzmann,table_preserve,one_point,0.3,0.9,0.00,50,3,250,146368.0,158300.0,6274.66,27.44,36,4.45,0.24,0.0648,0.0339,4182.5631,"[56606.0, 63946.0, 70788.0, 77332.0, 83718.0, ...","[[17, 25, 16, 15, 5, 27, 26, 4], [9, 13, 11, 3..."
27,250,100,boltzmann,greedy_merge,one_point,0.9,0.9,0.00,50,3,250,146280.0,156600.0,6016.98,29.88,44,6.08,0.38,0.0598,0.0087,4514.6623,"[56050.0, 63462.0, 70838.0, 77570.0, 84110.0, ...","[[57, 56, 29, 33, 2, 30, 3, 28], [38, 44, 6, 8..."
55,250,100,boltzmann,partially,one_point,0.9,0.8,0.05,50,3,250,146256.0,161100.0,5970.53,30.40,45,4.73,0.12,0.0607,0.0177,4372.2984,"[55762.0, 63214.0, 69864.0, 76152.0, 82530.0, ...","[[41, 54, 61, 60, 40, 39, 42, 63], [4, 59, 23,..."
54,250,100,boltzmann,partially,one_point,0.9,0.8,0.00,50,3,250,146222.0,155500.0,6234.62,30.00,41,4.29,0.44,0.0601,0.0157,4356.2752,"[56906.0, 64080.0, 70734.0, 77384.0, 83346.0, ...","[[13, 14, 63, 58, 12, 61, 60, 62], [38, 39, 44..."
15,250,100,boltzmann,greedy_merge,one_point,0.7,0.9,0.00,50,3,250,145926.0,162500.0,6720.20,28.94,40,4.48,0.10,0.0639,0.0085,4478.4822,"[56698.0, 63810.0, 70830.0, 77326.0, 83528.0, ...","[[13, 49, 12, 53, 0, 14, 1, 45], [55, 36, 56, ..."
69,250,100,boltzmann,table_preserve,one_point,0.4,0.9,0.00,50,3,250,145892.0,156300.0,5536.85,29.10,43,5.33,0.32,0.0601,0.0284,4188.2201,"[57612.0, 65102.0, 72538.0, 79716.0, 85698.0, ...","[[1, 17, 4, 21, 24, 23, 0, 22], [47, 18, 46, 1..."
16,250,100,boltzmann,greedy_merge,one_point,0.7,0.9,0.05,50,3,250,145832.0,157900.0,6476.74,28.80,35,3.78,0.32,0.0624,0.0088,4486.6319,"[55902.0, 63218.0, 70206.0, 76360.0, 82884.0, ...","[[57, 36, 21, 38, 44, 59, 19, 56], [9, 3, 2, 4..."
70,250,100,boltzmann,table_preserve,one_point,0.4,0.9,0.05,50,3,250,145812.0,154300.0,4691.81,28.24,40,4.17,0.48,0.0627,0.0265,4184.6467,"[56388.0, 64368.0, 71768.0, 78236.0, 84702.0, ...","[[21, 47, 15, 27, 5, 46, 16, 17], [3, 12, 14, ..."
88,250,100,boltzmann,table_preserve,one_point,0.9,0.9,0.05,50,3,250,145682.0,155100.0,5135.55,28.36,42,4.37,0.44,0.0623,0.0288,4202.4362,"[55202.0, 62690.0, 69784.0, 76860.0, 83364.0, ...","[[16, 5, 25, 0, 15, 17, 26, 1], [2, 7, 13, 12,..."
71,250,100,boltzmann,table_preserve,one_point,0.4,0.9,0.10,50,3,250,145672.0,155100.0,5480.62,29.38,42,4.57,0.44,0.0617,0.0310,4238.2753,"[55628.0, 63122.0, 70192.0, 76736.0, 82642.0, ...","[[27, 5, 16, 11, 15, 26, 10, 25], [1, 48, 49, ..."

In [67]:
for i in ['selection','crossover','mutation','cx_rate','mut_rate','elitism_percent',"max_generations"]:
    print(df_simple_phase_2[i].head(25).value_counts())

df_simple_phase_2[df_simple_phase_2["max_fitness"]==df_simple_phase_2["max_fitness"].max()]

selection
tournament    25
Name: count, dtype: int64
crossover
group_based    25
Name: count, dtype: int64
mutation
swap    25
Name: count, dtype: int64
cx_rate
0.6    16
0.7     9
Name: count, dtype: int64
mut_rate
0.6    8
0.7    8
0.8    5
0.9    4
Name: count, dtype: int64
elitism_percent
0.00    7
0.05    6
0.10    6
0.25    6
Name: count, dtype: int64
max_generations
50    7
10    5
13    3
9     3
11    3
12    2
16    2
Name: count, dtype: int64

,pop_size,generations,selection,crossover,mutation,cx_rate,mut_rate,elitism_percent,runs,early_stop_gens,delta,avg_fitness,max_fitness,std_fitness,avg_generations,max_generations,std_generations,convergence_rate,avg_mutation_success_rate,avg_crossover_success_rate,avg_population_diversity,avg_fitness_progress,best_solution
275,50,50,tournament,greedy_merge,one_point,0.7,0.6,0.25,30,3,500,73533.33,108900.0,13367.21,16.57,40,9.86,0.0333,0.2518,0.1078,7211.2783,"[45996.666666666664, 47973.333333333336, 51560...","[[53, 12, 29, 48, 37, 43, 38, 61], [27, 4, 63,..."

In [ ]:
for i in ['selection','crossover','mutation','cx_rate','mut_rate','elitism_percent',"max_generations"]:
    print(df_simple_phase_3[i].head(20).value_counts())

df_simple_phase_3[df_simple_phase_3["max_fitness"]==df_simple_phase_3["max_fitness"].max()]

In [ ]:
for i in ['selection','crossover','mutation','cx_rate','mut_rate','elitism_percent',"max_generations"]:
    print(df_advanced_phase_1[i].head(11).value_counts())

In [89]:
df_advanced_phase_2=df_advanced_phase_2.nlargest(10000,"avg_fitness")
df_advanced_phase_2[df_advanced_phase_2["crossover"]=="table_preserve"].head(40)

,pop_size,generations,selection,crossover,mutation,cx_rate,mut_rate,elitism_percent,runs,early_stop_gens,delta,avg_fitness,max_fitness,std_fitness,avg_generations,max_generations,std_generations,convergence_rate,avg_mutation_success_rate,avg_crossover_success_rate,avg_population_diversity,avg_fitness_progress,best_solution
261,50,50,boltzmann,table_preserve,one_point,0.3,0.9,0.00,30,3,3000,110923.33,128900.0,12695.37,17.77,25,4.65,0.2333,0.1348,0.0243,3876.1653,"[49293.333333333336, 55466.666666666664, 60420...","[[1, 3, 2, 11, 10, 53, 18, 0], [26, 21, 27, 16..."
310,50,50,boltzmann,table_preserve,one_point,0.9,0.9,0.05,30,3,3000,110433.33,137800.0,14995.07,17.47,27,4.43,0.1333,0.1301,0.0220,3861.3177,"[48880.0, 55216.666666666664, 60950.0, 66316.6...","[[23, 17, 4, 21, 15, 24, 5, 22], [29, 49, 34, ..."
309,50,50,boltzmann,table_preserve,one_point,0.9,0.9,0.00,30,3,3000,109703.33,137800.0,12101.20,17.10,26,3.81,0.0333,0.1333,0.0301,3798.2057,"[48316.666666666664, 54143.333333333336, 59716...","[[4, 22, 23, 20, 16, 17, 15, 24], [0, 36, 40, ..."
274,50,50,boltzmann,table_preserve,one_point,0.4,0.9,0.05,30,3,3000,109350.00,135200.0,12032.50,18.03,26,4.06,0.0333,0.1358,0.0282,3816.1881,"[47723.333333333336, 52696.666666666664, 57856...","[[1, 0, 43, 35, 2, 34, 32, 30], [28, 17, 24, 1..."
294,50,50,boltzmann,table_preserve,one_point,0.8,0.8,0.00,30,3,3000,109230.00,133300.0,14742.07,17.73,27,4.53,0.1667,0.1349,0.0217,3830.4759,"[48156.666666666664, 53226.666666666664, 59270...","[[0, 1, 5, 37, 16, 25, 20, 26], [47, 48, 40, 4..."
282,50,50,boltzmann,table_preserve,one_point,0.7,0.8,0.00,30,3,3000,108553.33,133000.0,15073.13,17.63,25,3.97,0.0667,0.1392,0.0258,3773.4385,"[47756.666666666664, 53370.0, 58450.0, 63030.0...","[[12, 10, 3, 2, 0, 1, 44, 11], [5, 4, 18, 53, ..."
306,50,50,boltzmann,table_preserve,one_point,0.9,0.8,0.00,30,3,3000,108380.00,133100.0,11632.49,17.73,26,3.91,0.1000,0.1385,0.0217,3762.0290,"[47980.0, 53213.333333333336, 58580.0, 64350.0...","[[20, 5, 24, 21, 23, 17, 15, 4], [36, 29, 28, ..."
263,50,50,boltzmann,table_preserve,one_point,0.3,0.9,0.10,30,3,3000,108306.67,129800.0,13889.95,19.00,27,4.79,0.1333,0.1325,0.0266,3703.0582,"[46790.0, 52296.666666666664, 57336.6666666666...","[[9, 2, 7, 31, 6, 32, 8, 3], [17, 12, 13, 19, ..."
273,50,50,boltzmann,table_preserve,one_point,0.4,0.9,0.00,30,3,3000,108220.00,137400.0,12014.25,16.83,31,4.37,0.0333,0.1342,0.0231,3874.0683,"[50460.0, 56166.666666666664, 61506.6666666666...","[[2, 7, 0, 9, 6, 49, 1, 3], [18, 5, 38, 16, 53..."
287,50,50,boltzmann,table_preserve,one_point,0.7,0.9,0.10,30,3,3000,108173.33,139800.0,14534.23,17.40,28,4.48,0.0333,0.1301,0.0228,3764.5886,"[49650.0, 55010.0, 60250.0, 65656.66666666667,...","[[14, 53, 54, 3, 2, 8, 0, 1], [15, 17, 27, 21,..."
285,50,50,boltzmann,table_preserve,one_point,0.7,0.9,0.00,30,3,3000,108153.33,135200.0,14309.64,17.00,28,4.49,0.0667,0.1322,0.0328,3882.4102,"[49510.0, 54706.666666666664, 59853.3333333333...","[[56, 1, 57, 21, 15, 22, 0, 17], [50, 54, 41, ..."
298,50,50,boltzmann,table_preserve,one_point,0.8,0.9,0.05,30,3,3000,107893.33,133200.0,11067.13,16.57,26,4.03,0.0333,0.1363,0.0239,3795.6948,"[49250.0, 54990.0, 61020.0, 66046.66666666667,...","[[23, 24, 17, 15, 36, 4, 22, 16], [1, 46, 48, ..."
275,50,50,boltzmann,table_preserve,one_point,0.4,0.9,0.10,30,3,3000,107853.33,134800.0,9111.63,17.10,26,3.41,0.0333,0.1365,0.0278,3750.0593,"[49156.666666666664, 55073.333333333336, 60096...","[[14, 16, 0, 10, 11, 48, 1, 36], [63, 25, 42, ..."
311,50,50,boltzmann,table_preserve,one_point,0.9,0.9,0.10,30,3,3000,107793.33,132300.0,11694.58,17.20,26,3.98,0.0333,0.1412,0.0230,3735.3758,"[47530.0, 53456.666666666664, 58916.6666666666...","[[28, 0, 42, 46, 1, 40, 39, 29], [47, 26, 25, ..."
286,50,50,boltzmann,table_preserve,one_point,0.7,0.9,0.05,30,3,3000,107756.67,127300.0,11304.68,17.13,25,3.90,0.0667,0.1366,0.0195,3731.9505,"[47730.0, 52803.333333333336, 58663.3333333333...","[[1, 61, 27, 15, 4, 25, 60, 0], [5, 45, 21, 17..."
258,50,50,boltzmann,table_preserve,one_point,0.3,0.8,0.00,30,3,3000,107660.00,125600.0,11647.31,17.63,24,3.57,0.2333,0.1453,0.0253,3823.2368,"[47870.0, 53323.333333333336, 58426.6666666666...","[[3, 0, 1, 2, 38, 7, 8, 6], [41, 9, 32, 51, 50..."
299,50,50,boltzmann,table_preserve,one_point,0.8,0.9,0.10,30,3,3000,107636.67,126400.0,10819.41,16.90,24,3.51,0.1000,0.1378,0.0287,3745.6479,"[49196.666666666664, 54490.0, 59976.6666666666...","[[17, 12, 13, 14, 21, 0, 2, 1], [15, 26, 16, 4..."
295,50,50,boltzmann,table_preserve,one_point,0.8,0.8,0.05,30,3,3000,107160.00,132000.0,11390.04,16.87,23,4.08,0.0333,0.1392,0.0276,3742.4066,"[49620.0, 55146.666666666664, 60340.0, 65340.0...","[[5, 4, 22, 18, 15, 23, 24, 16], [6, 28, 1, 0,..."
272,50,50,boltzmann,table_preserve,one_point,0.4,0.8,0.10,30,3,3000,107073.33,138100.0,15151.13,17.23,32,5.14,0.0667,0.1415,0.0231,3763.9921,"[48443.333333333336, 54146.666666666664, 59360...","[[28, 10, 11, 1, 0, 37, 29, 49], [17, 5, 50, 5..."
271,50,50,boltzmann,table_preserve,one_point,0.4,0.8,0.05,30,3,3000,106943.33,127900.0,11002.69,17.13,27,4.74,0.1000,0.1455,0.0221,3795.8598,"[49293.333333333336, 54820.0, 60366.6666666666...","[[1, 46, 3, 22, 49, 47, 56, 0], [34, 9, 37, 32..."
283,50,50,boltzmann,table_preserve,one_point,0.7,0.8,0.05,30,3,3000,106740.00,137200.0,14489.09,17.37,29,4.56,0.0333,0.1416,0.0287,3773.6491,"[48673.333333333336, 54293.333333333336, 59496...","[[22, 15, 16, 23, 25, 4, 27, 26], [17, 46, 5, ..."
292,50,50,boltzmann,table_preserve,one_point,0.8,0.7,0.05,30,3,3000,106370.00,126000.0,12785.20,17.93,28,4.53,0.2000,0.1464,0.0258,3655.8342,"[46546.666666666664, 51850.0, 57283.3333333333...","[[0, 1, 31, 8, 39, 6, 26, 32], [18, 20, 25, 19..."
303,50,50,boltzmann,table_preserve,one_point,0.9,0.7,0.00,30,3,3000,106170.00,134000.0,13311.45,17.33,24,4.19,0.0667,0.1414,0.0220,3677.3182,"[47180.0, 52563.333333333336, 57630.0, 62576.6...","[[27, 0, 5, 15, 17, 16, 26, 1], [12, 2, 31, 9,..."
257,50,50,boltzmann,table_preserve,one_point,0.3,0.7,0.10,30,3,3000,105853.33,125900.0,11358.87,17.80,28,4.54,0.1333,0.1364,0.0254,3642.3702,"[49916.666666666664, 55403.333333333336, 60103...","[[1, 35, 0, 56, 34, 57, 44, 36], [59, 60, 61, ..."
284,50,50,boltzmann,table_preserve,one_point,0.7,0.8,0.10,30,3,3000,105850.00,131500.0,10672.01,17.90,28,3.88,0.0667,0.1430,0.0214,3651.7015,"[47030.0, 52166.666666666664, 57733.3333333333...","[[5, 0, 30, 1, 4, 22, 15, 23], [34, 39, 2, 40,..."
262,50,50,boltzmann,table_preserve,one_point,0.3,0.9,0.05,30,3,3000,105823.33,131300.0,12350.59,16.80,26,4.09,0.0667,0.1381,0.0248,3816.0992,"[48266.666666666664, 54100.0, 59866.6666666666...","[[63, 37, 49, 1, 36, 43, 22, 0], [17, 16, 5, 1..."
268,50,50,boltzmann,table_preserve,one_point,0.4,0.7,0.05,30,3,3000,105583.33,135900.0,15741.94,17.37,27,4.66,0.0667,0.1386,0.0249,3664.0681,"[48100.0, 53246.666666666664, 58320.0, 63266.6...","[[30, 11, 1, 54, 14, 0, 55, 8], [44, 5, 16, 21..."
259,50,50,boltzmann,table_preserve,one_point,0.3,0.8,0.05,30,3,3000,105183.33,127600.0,12840.30,17.30,31,4.49,0.0667,0.1421,0.0287,3720.2602,"[48170.0, 53103.333333333336, 58460.0, 63486.6...","[[15, 28, 21, 29, 17, 26, 27, 25], [16, 1, 0, ..."
270,50,50,boltzmann,table_preserve,one_point,0.4,0.8,0.00,30,3,3000,104770.00,127600.0,13517.20,16.33,24,4.10,0.1000,0.1433,0.0313,3785.1197,"[48033.333333333336, 53100.0, 58796.6666666666...","[[0, 4, 20, 15, 1, 18, 19, 48], [46, 16, 47, 2..."
255,50,50,boltzmann,table_preserve,one_point,0.3,0.7,0.00,30,3,3000,104690.00,126200.0,12471.71,17.57,25,3.96,0.1000,0.1451,0.0184,3633.1938,"[46823.333333333336, 51906.666666666664, 57466...","[[34, 1, 35, 0, 13, 38, 23, 24], [20, 5, 31, 3..."
304,50,50,boltzmann,table_preserve,one_point,0.9,0.7,0.05,30,3,3000,104143.33,129200.0,13206.83,16.47,28,4.71,0.0667,0.1401,0.0227,3652.8783,"[49253.333333333336, 54466.666666666664, 60616...","[[22, 5, 27, 17, 21, 26, 25, 16], [15, 45, 35,..."
280,50,50,boltzmann,table_preserve,one_point,0.7,0.7,0.05,30,3,3000,104066.67,118700.0,8612.02,16.73,23,3.38,0.2333,0.1455,0.0261,3567.7821,"[48200.0, 53413.333333333336, 58386.6666666666...","[[37, 25, 53, 26, 0, 22, 1, 34], [39, 33, 42, ..."
296,50,50,boltzmann,table_preserve,one_point,0.8,0.8,0.10,30,3,3000,103903.33,142900.0,17253.36,16.40,29,5.13,0.0667,0.1440,0.0261,3712.5872,"[48303.333333333336, 53820.0, 58590.0, 63700.0...","[[0, 28, 37, 49, 52, 53, 1, 43], [14, 12, 2, 1..."
307,50,50,boltzmann,table_preserve,one_point,0.9,0.8,0.05,30,3,3000,103893.33,131400.0,13763.55,15.83,30,4.70,0.0333,0.1343,0.0204,3696.4273,"[50476.666666666664, 55756.666666666664, 61110...","[[2, 8, 47, 7, 46, 3, 1, 6], [16, 42, 15, 41, ..."
297,50,50,boltzmann,table_preserve,one_point,0.8,0.9,0.00,30,3,3000,103543.33,133100.0,12375.53,15.47,23,3.67,0.0667,0.1417,0.0324,3779.5661,"[48656.666666666664, 54023.333333333336, 59546...","[[16, 4, 5, 20, 34, 24, 35, 23], [3, 15, 1, 2,..."
276,50,50,boltzmann,table_preserve,one_point,0.7,0.6,0.00,30,3,3000,103336.67,132400.0,15055.75,17.53,32,5.17,0.0667,0.1498,0.0286,3509.6272,"[46473.333333333336, 51806.666666666664, 56993...","[[4, 8, 0, 22, 53, 1, 2, 17], [32, 62, 60, 47,..."
291,50,50,boltzmann,table_preserve,one_point,0.8,0.7,0.00,30,3,3000,103233.33,131800.0,14030.50,16.67,26,4.13,0.0333,0.1437,0.0271,3628.8423,"[48626.666666666664, 53840.0, 58593.3333333333...","[[0, 4, 1, 24, 23, 33, 34, 16], [17, 5, 25, 21..."
260,50,50,boltzmann,table_preserve,one_point,0.3,0.8,0.10,30,3,3000,102733.33,126800.0,13062.52,16.13,24,4.45,0.1333,0.1458,0.0269,3574.6149,"[48113.333333333336, 53446.666666666664, 58233...","[[0, 1, 38, 40, 39, 2, 59, 27], [15, 4, 20, 22..."
308,50,50,boltzmann,table_preserve,one_point,0.9,0.8,0.10,30,3,3000,102580.00,134300.0,12815.76,15.83,28,4.30,0.0333,0.1433,0.0260,3683.5810,"[49420.0, 54746.666666666664, 60250.0, 64910.0...","[[16, 40, 4, 0, 1, 44, 20, 34], [8, 35, 10, 14..."
279,50,50,boltzmann,table_preserve,one_point,0.7,0.7,0.00,30,3,3000,102473.33,141200.0,14659.78,16.53,28,4.35,0.0333,0.1430,0.0350,3708.2287,"[47470.0, 52943.333333333336, 57970.0, 62643.3...","[[5, 16, 26, 23, 22, 1, 0, 15], [35, 34, 54, 5..."

In [79]:
for i in ['selection','crossover','mutation','cx_rate','mut_rate','elitism_percent',"max_generations"]:
    print(df_advanced_phase_2[i].head(8).value_counts())

selection
boltzmann    8
Name: count, dtype: int64
crossover
partially         4
greedy_merge      2
table_preserve    2
Name: count, dtype: int64
mutation
one_point    8
Name: count, dtype: int64
cx_rate
0.9    2
0.4    2
0.3    2
0.7    1
0.8    1
Name: count, dtype: int64
mut_rate
0.9    7
0.8    1
Name: count, dtype: int64
elitism_percent
0.05    3
0.00    3
0.10    2
Name: count, dtype: int64
max_generations
29    3
30    1
31    1
25    1
27    1
28    1
Name: count, dtype: int64

In [95]:
b=pd.read_csv("../results/grid_search_results.csv")
b.sort_values(by="avg_fitness")
for i in ['selection','crossover','mutation','cx_rate','mut_rate','elitism_percent',"max_generations"]:
    print(b[i].head(20).value_counts())
b

selection
boltzmann    20
Name: count, dtype: int64
crossover
greedy_merge    20
Name: count, dtype: int64
mutation
one_point    20
Name: count, dtype: int64
cx_rate
0.3    6
0.4    6
0.7    6
0.8    2
Name: count, dtype: int64
mut_rate
0.8    11
0.9     9
Name: count, dtype: int64
elitism_percent
0.00    7
0.05    7
0.10    6
Name: count, dtype: int64
max_generations
40    5
43    4
41    3
36    2
44    1
45    1
38    1
42    1
39    1
35    1
Name: count, dtype: int64

,pop_size,generations,selection,crossover,mutation,cx_rate,mut_rate,elitism_percent,runs,early_stop_gens,delta,avg_fitness,max_fitness,std_fitness,avg_generations,max_generations,std_generations,convergence_rate,avg_mutation_success_rate,avg_crossover_success_rate,avg_population_diversity,avg_fitness_progress,best_solution
0,250,100,boltzmann,greedy_merge,one_point,0.3,0.8,0.00,50,3,250,142860.0,156800.0,6844.65,29.76,41,5.27,0.14,0.0636,0.0089,4403.2906,"[55562.0, 62402.0, 69040.0, 75492.0, 81702.0, ...","[[52, 34, 35, 33, 44, 29, 28, 30], [59, 36, 21..."
1,250,100,boltzmann,greedy_merge,one_point,0.3,0.8,0.05,50,3,250,144194.0,157900.0,6305.41,29.90,43,4.81,0.22,0.0639,0.0086,4421.0301,"[55718.0, 62394.0, 68790.0, 75182.0, 81326.0, ...","[[18, 16, 15, 19, 4, 17, 5, 20], [57, 3, 56, 1..."
2,250,100,boltzmann,greedy_merge,one_point,0.3,0.8,0.10,50,3,250,144380.0,156300.0,4816.01,30.66,43,5.39,0.18,0.0625,0.0090,4470.0207,"[56060.0, 63422.0, 70098.0, 76346.0, 82360.0, ...","[[58, 11, 61, 60, 62, 63, 48, 10], [49, 36, 43..."
3,250,100,boltzmann,greedy_merge,one_point,0.3,0.9,0.00,50,3,250,145422.0,155100.0,5937.48,28.86,40,4.14,0.40,0.0652,0.0082,4272.1590,"[56066.0, 62970.0, 69632.0, 76172.0, 82462.0, ...","[[48, 20, 18, 35, 19, 34, 45, 5], [37, 21, 47,..."
4,250,100,boltzmann,greedy_merge,one_point,0.3,0.9,0.05,50,3,250,144342.0,154600.0,6234.39,28.98,43,4.97,0.36,0.0641,0.0091,4326.4552,"[55726.0, 62758.0, 69422.0, 75606.0, 81654.0, ...","[[41, 55, 40, 42, 39, 54, 38, 44], [51, 15, 19..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,250,100,boltzmann,partially,one_point,0.9,0.9,0.10,50,3,250,144452.0,153900.0,5967.18,28.98,37,4.28,0.44,0.0643,0.0165,4203.1510,"[55896.0, 62532.0, 69880.0, 76090.0, 82214.0, ...","[[61, 43, 63, 49, 37, 60, 36, 62], [4, 20, 15,..."
60,250,100,boltzmann,table_preserve,one_point,0.3,0.8,0.00,50,3,250,144682.0,158800.0,5739.43,30.10,44,4.82,0.20,0.0599,0.0267,4312.7044,"[55978.0, 63272.0, 70268.0, 76862.0, 82662.0, ...","[[18, 4, 16, 20, 19, 5, 15, 27], [43, 1, 37, 6..."
61,250,100,boltzmann,table_preserve,one_point,0.3,0.8,0.05,50,3,250,144812.0,159400.0,6913.63,29.60,47,4.75,0.18,0.0617,0.0329,4337.8692,"[55752.0, 63298.0, 70228.0, 76596.0, 83024.0, ...","[[23, 5, 17, 22, 24, 15, 16, 4], [25, 43, 0, 4..."
62,250,100,boltzmann,table_preserve,one_point,0.3,0.8,0.10,50,3,250,143126.0,153400.0,6611.86,29.08,40,4.59,0.36,0.0634,0.0273,4290.0125,"[55684.0, 62568.0, 69504.0, 76008.0, 82450.0, ...","[[27, 15, 5, 17, 25, 0, 26, 1], [10, 13, 14, 5..."
63,250,100,boltzmann,table_preserve,one_point,0.3,0.9,0.00,50,3,250,146368.0,158300.0,6274.66,27.44,36,4.45,0.24,0.0648,0.0339,4182.5631,"[56606.0, 63946.0, 70788.0, 77332.0, 83718.0, ...","[[17, 25, 16, 15, 5, 27, 26, 4], [9, 13, 11, 3..."